<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ajax</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.ajax.ajax</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showUser</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.show.ShowUserManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userManager</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.manager.UserManager</servlet-class>
  </servlet>
  <filter>
    <filter-name>charEncoding</filter-name>
    <filter-class>cn.edu.hezeu.jsp.filter.CharEncodingFilter</filter-class>
    <init-param>
      <param-name>char</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <!-- <filter>
    <filter-name>Login</filter-name>
    <filter-class>cn.edu.hezeu.jsp.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <filter-mapping>
    <filter-name>charEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>ajax</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showUser</servlet-name>
    <url-pattern>/showUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userManager</servlet-name>
    <url-pattern>/userManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexManager</display-name>
    <servlet-name>IndexManager</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.manager.IndexManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexManager</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagManager</display-name>
    <servlet-name>TagManager</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.manager.TagManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagManager</servlet-name>
    <url-pattern>/tag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMannager</display-name>
    <servlet-name>PostMannager</servlet-name>
    <servlet-class>cn.edu.hezeu.jsp.manager.PostMannager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMannager</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>
</web-app>